.todo {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 236, 236);
  margin-bottom: 10px;
  width: 400px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black 3px 2px ;
  text-align: center;

}
input {
  width: 70%;
  height: 10%;
  padding: 8px 18px;
  border: 2px solid black;
  border-radius: 7px;

}
input:hover {
  border: 2px solid rgb(148, 205, 243);

}
button {
  float: right;
  margin-top: 48px;
  margin-right: 3px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(142, 205, 243);

  
}
.complet-btn:hover {
  background-color: rgb(57, 236, 132);
}
.rm-btn:hover {
  background-color: crimson;
}